.code {
 font-family:courier new,monospace;
 font-weight: bold;
 color: #007700
}

.menu {
 font-family:courier new,monospace;
 font-weight: bold;
 color: #000077
}

.file {
 font-family:courier new,monospace;
}

.command {
 font-family:courier new,monospace;
}