<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            class="zephyr.plugin.plotting.internal.graphs.PlotView"
            icon="icons/view_plotting.png"
            id="zephyr.plugin.plotting.view.plot"
            name="Graphs"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="zephyr.plugin.plotting.internal.commands.NewPlotView"
            id="zephyr.plugin.plotting.commands.newplotview"
            name="New Window">
      </command>
      <command
            defaultHandler="zephyr.plugin.plotting.internal.commands.EnableAllTraces"
            id="zephyr.plugin.plotting.commands.enablealltraces"
            name="Enable all traces">
         <state id="org.eclipse.ui.commands.toggleState"
               class="org.eclipse.ui.handlers.RegistryToggleState">
         </state>
      </command>
      <command
            id="zephyr.plugin.plotting.selecttrace"
            name="Select Traces...">
      </command>
      <command
            defaultHandler="zephyr.plugin.plotting.internal.commands.SelectTraces"
            id="zephyr.plugin.plotting.toolbar.selecttrace"
            name="Select Traces...">
      </command>
      <command
            defaultHandler="zephyr.plugin.plotting.internal.commands.AddTraces"
            id="zephyr.plugin.plotting.toolbar.addtraces"
            name="Add Traces...">
      </command>
      <command
            id="zephyr.plugin.plotting.addtraces"
            name="Add Traces...">
      </command>
      <command
            id="zephyr.plugin.plotting.centerplot"
            name="Center Plot">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?before=window">
         <menu
               id="zephyr.plugin.console.menus.plotting"
               label="Plotting"
               mnemonic="P">
            <command
                  commandId="zephyr.plugin.plotting.addtraces"
                  label="Add Traces..."
                  mnemonic="A"
                  style="push">
            </command>
            <command
                  commandId="zephyr.plugin.plotting.selecttrace"
                  label="Select Traces..."
                  mnemonic="S"
                  style="push">
            </command>
            <separator
                  name="zephyr.plugin.plotting.separator2"
                  visible="true">
            </separator>
            <command
                  commandId="zephyr.plugin.plotting.centerplot"
                  label="Center Plot"
                  mnemonic="C"
                  style="push">
            </command>
            <separator
                  name="zephyr.plugin.plotting.separator3"
                  visible="true">
            </separator>
            <command
                  commandId="zephyr.plugin.plotting.commands.enablealltraces"
                  label="Enable All Traces"
                  mnemonic="E"
                  style="toggle">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:zephyr.plugin.plotting.view.plot?before=zephyr.plugin.plotting.action.togglesynchronized">
         <command
               commandId="zephyr.plugin.plotting.toolbar.addtraces"
               label="Add Traces..."
               style="push">
         </command>
         <command
               commandId="zephyr.plugin.plotting.toolbar.selecttrace"
               disabledIcon="icons/command_select_traces.png"
               label="Select Traces..."
               style="push">
         </command>
         <separator
               name="zephyr.plugin.plotting.separator3"
               visible="false">
         </separator>
      </menuContribution>
      <menuContribution
            locationURI="menu:window?before=zephyr.plugin.core.separator.closeview">
         <command
               commandId="zephyr.plugin.plotting.commands.newplotview"
               label="New Graphs"
               mnemonic="G"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:toolbar.window?before=zephyr.plugin.console.toolbar.showconsole">
         <command
               commandId="zephyr.plugin.plotting.commands.newplotview"
               label="New Graphs"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="zephyr.plugin.core.perspective.initial">
         <view
               closeable="true"
               id="zephyr.plugin.plotting.view.plot"
               minimized="false"
               moveable="true"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="zephyr.startup">
      <client
            class="zephyr.plugin.plotting.internal.RegisterRunnableStarted">
      </client>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="zephyr.plugin.plotting.commands.newplotview"
            icon="icons/command_newplot.png">
      </image>
      <image
            commandId="zephyr.plugin.plotting.selecttrace"
            icon="icons/command_select_traces.png">
      </image>
      <image
            commandId="zephyr.plugin.plotting.toolbar.selecttrace"
            icon="icons/command_select_traces.png">
      </image>
      <image
            commandId="zephyr.plugin.plotting.addtraces"
            icon="icons/command_add_traces.png">
      </image>
      <image
            commandId="zephyr.plugin.plotting.toolbar.addtraces"
            icon="icons/command_add_traces.png">
      </image>
      <image
            commandId="zephyr.plugin.plotting.centerplot"
            icon="icons/command_centerplot.png">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="zephyr.plugin.plotting.internal.commands.SelectTraces"
            commandId="zephyr.plugin.plotting.selecttrace">
         <activeWhen>
            <reference
                  definitionId="zephyr.plugin.plotting.is.graphview.selected">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="zephyr.plugin.plotting.internal.commands.AddTraces"
            commandId="zephyr.plugin.plotting.addtraces">
         <activeWhen>
            <reference
                  definitionId="zephyr.plugin.plotting.is.graphview.selected">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="zephyr.plugin.plotting.internal.commands.CenterPlot"
            commandId="zephyr.plugin.plotting.centerplot">
         <activeWhen>
            <reference
                  definitionId="zephyr.plugin.plotting.is.graphview.selected">
            </reference>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="zephyr.plugin.plotting.is.graphview.selected">
         <or>
            <with
                  variable="activePartId">
               <equals
                     value="zephyr.plugin.plotting.view.plot">
               </equals>
            </with>
         </or>
      </definition>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="zephyr.plugin.plotting.centerplot"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="zephyr.plugin.core.scheme"
            sequence="C">
      </key>
      <key
            commandId="zephyr.plugin.plotting.addtraces"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="zephyr.plugin.core.scheme"
            sequence="A">
      </key>
      <key
            commandId="zephyr.plugin.plotting.selecttrace"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="zephyr.plugin.core.scheme"
            sequence="S">
      </key>
      <key
            commandId="zephyr.plugin.plotting.commands.newplotview"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="zephyr.plugin.core.scheme"
            sequence="M1+T">
      </key>
   </extension>
</plugin>
