<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="zephyr.runnable" name="Zephyr Runnable" schema="schema/zephyr.runnable.exsd"/>
   <extension-point id="zephyr.viewprovider" name="View Provider" schema="schema/zephyr.viewprovider.exsd"/>
   <extension-point id="zephyr.startup" name="Zephyr Startup" schema="schema/zephyr.startup.exsd"/>
   <extension-point id="zephyr.classpath" name="Zephyr Plugin Class Path" schema="schema/zephyr.classpath.exsd"/>
   <extension-point id="zephyr.listener" name="Zephyr Listener" schema="schema/zephyr.listener.exsd"/>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="zephyr.plugin.core.internal.commands.Synchronous"
            id="zephyr.plugin.core.commands.synchronous"
            name="Synchronous">
         <state id="org.eclipse.ui.commands.toggleState"
               class="org.eclipse.ui.handlers.RegistryToggleState:false">
         </state>
      </command>
      <command
            defaultHandler="zephyr.plugin.core.internal.commands.StartSuspended"
            id="zephyr.plugin.core.commands.startsuspended"
            name="StartSuspended">
         <state id="org.eclipse.ui.commands.toggleState"
               class="org.eclipse.ui.handlers.RegistryToggleState:false">
         </state>
      </command>
      <command
            defaultHandler="zephyr.plugin.core.internal.commands.SuspendResumeAll"
            id="zephyr.plugin.core.commands.suspendresume"
            name="SuspendResume">
      </command>
      <command
            defaultHandler="zephyr.plugin.core.internal.commands.ResumeAll"
            id="zephyr.plugin.core.commands.resume"
            name="Resume">
      </command>
      <command
            defaultHandler="zephyr.plugin.core.internal.commands.SuspendAll"
            id="zephyr.plugin.core.commands.suspend"
            name="Suspend">
      </command>
      <command
            defaultHandler="zephyr.plugin.core.internal.commands.StepAll"
            id="zephyr.plugin.core.commands.step"
            name="Step">
      </command>
      <command
            defaultHandler="zephyr.plugin.core.internal.commands.NStepsAll"
            id="zephyr.plugin.core.commands.nsteps"
            name="N Steps">
      </command>
      <command
            defaultHandler="zephyr.plugin.core.internal.commands.ClosePart"
            description="Close"
            id="zephyr.plugin.core.close"
            name="Close">
      </command>
      <command
            defaultHandler="zephyr.plugin.core.internal.commands.ExtractZephyrJar"
            id="zephyr.plugin.core.extractzephyrjar"
            name="Extract Zephyr Jar">
      </command>
      <command
            defaultHandler="zephyr.plugin.core.internal.commands.ShowNewView"
            description="Show a new view"
            id="zephyr.plugin.core.views.showView"
            name="ShowNewView">
         <commandParameter
               id="org.eclipse.ui.views.showView.viewId"
               name="View ID"
               optional="false">
         </commandParameter>
      </command>
      <command
            defaultHandler="zephyr.plugin.core.internal.commands.StartZephyrRunnable"
            id="zephyr.plugin.core.command.startrunnable"
            name="Start a Zephyr runnable">
         <commandParameter
               id="zephyr.plugin.core.command.parameter.runnableid"
               name="Zephyr Runnable ID"
               optional="false">
         </commandParameter>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?before=zephyr.mainmenu.end">
         <menu
               id="menu.file"
               label="File"
               mnemonic="F">
            <separator
                  name="zephyr.plugin.core.zephyrbegin"
                  visible="true">
            </separator>
            <separator
                  name="zephyr.plugin.core.zephyrend"
                  visible="true">
            </separator>
            <command
                  commandId="zephyr.plugin.core.extractzephyrjar"
                  label="Extract Zephyr Jar..."
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.exit"
                  id="quit"
                  label="Quit"
                  mnemonic="Q"
                  style="push">
               <visibleWhen>
                  <not>
                     <systemTest
                           property="os.name"
                           value="Mac OS X">
                     </systemTest>
                  </not>
               </visibleWhen>
            </command>
         </menu>
         <menu
               id="menu.run"
               label="&amp;Run">
            <command
                  commandId="zephyr.plugin.core.commands.startsuspended"
                  label="Start Suspended"
                  mnemonic="d"
                  style="toggle">
            </command>
            <separator
                  name="zephyr.plugin.core.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="zephyr.plugin.core.commands.suspend"
                  icon="icons/action_suspend.gif"
                  label="Suspend"
                  mnemonic="S">
            </command>
            <command
                  commandId="zephyr.plugin.core.commands.step"
                  icon="icons/action_step.gif"
                  label="Step"
                  mnemonic="p">
            </command>
            <command
                  commandId="zephyr.plugin.core.commands.nsteps"
                  label="N Steps"
                  style="push">
            </command>
            <command
                  commandId="zephyr.plugin.core.commands.resume"
                  icon="icons/action_resume.gif"
                  label="Resume"
                  mnemonic="R">
            </command>
            <separator
                  name="zephyr.plugin.core.separator2"
                  visible="true">
            </separator>
            <command
                  commandId="zephyr.plugin.core.commands.synchronous"
                  label="Synchronous"
                  mnemonic="o"
                  style="toggle">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="toolbar.control">
            <command
                  commandId="zephyr.plugin.core.commands.suspend"
                  icon="icons/action_suspend.gif"
                  label="Suspend"
                  style="push">
            </command>
            <command
                  commandId="zephyr.plugin.core.commands.step"
                  icon="icons/action_step.gif"
                  label="Step"
                  style="push">
            </command>
            <command
                  commandId="zephyr.plugin.core.commands.nsteps"
                  label="N Steps"
                  style="push">
            </command>
            <command
                  commandId="zephyr.plugin.core.commands.resume"
                  icon="icons/action_resume.gif"
                  label="Resume"
                  style="push">
            </command>
         </toolbar>
         <toolbar
               id="toolbar.window">
         </toolbar>
      </menuContribution>
      <menuContribution
            locationURI="menu:window">
         <command
               commandId="org.eclipse.ui.views.showView"
               icon="icons/view_structureexplorer.gif"
               label="Show Structure Explorer"
               style="push">
            <parameter
                  name="org.eclipse.ui.views.showView.viewId"
                  value="zephyr.plugin.core.treeview">
            </parameter>
         </command>
         <command
               commandId="org.eclipse.ui.views.showView"
               icon="icons/view_clocks.png"
               label="Show Clocks"
               mnemonic="k"
               style="push">
            <parameter
                  name="org.eclipse.ui.views.showView.viewId"
                  value="zephyr.plugin.core.clocksview">
            </parameter>
         </command>
         <separator
               name="zephyr.plugin.core.separator.closeview"
               visible="true">
         </separator>
         <command
               commandId="zephyr.plugin.core.close"
               label="Close View"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="zephyr.plugin.core.internal.Perspective"
            id="zephyr.plugin.core.perspective.initial"
            name="Zephyr Perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.activities">
      <activity
            id="zephyr.plugin.core.activity"
            name="Zephyr Activity">
         <enabledWhen>
            <with
                  variable="zephyr.plugin.core.isZephyrEnabled">
               <equals
                     value="true">
               </equals>
            </with>
         </enabledWhen>
      </activity>
      <activityPatternBinding
            activityId="zephyr.plugin.core.activity"
            pattern="zephyr.*">
      </activityPatternBinding>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <scheme
            id="zephyr.plugin.core.scheme"
            name="Zephyr Binding Scheme">
      </scheme>
      <key
            commandId="zephyr.plugin.core.commands.suspendresume"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="zephyr.plugin.core.scheme"
            sequence="SPACE">
      </key>
      <key
            commandId="zephyr.plugin.core.commands.suspend"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="zephyr.plugin.core.scheme"
            sequence="F11">
      </key>
      <key
            commandId="zephyr.plugin.core.commands.step"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="zephyr.plugin.core.scheme"
            sequence="F6">
      </key>
      <key
            commandId="zephyr.plugin.core.commands.resume"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="zephyr.plugin.core.scheme"
            sequence="F8">
      </key>
      <key
            commandId="zephyr.plugin.core.close"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="zephyr.plugin.core.scheme"
            sequence="M1+W">
      </key>
   </extension>
   <extension
         point="zephyr.startup">
      <client
            class="zephyr.plugin.core.internal.SavedSettings">
      </client>
      <client
            class="zephyr.plugin.core.internal.StartZephyrMain">
      </client>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="zephyr.plugin.core.commands.nsteps"
            icon="icons/action_step_clock.png">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="zephyr.plugin.core.internal.preferences.ZephyrRoot"
            id="zephyr.plugin.core.preferences.zephyr.root"
            name="Zephyr">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="zephyr.plugin.core.internal.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="zephyr.plugin.core.internal.views.ClocksView"
            icon="icons/view_clocks.png"
            id="zephyr.plugin.core.clocksview"
            name="Clocks"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            class="zephyr.plugin.core.internal.treeview.StructureExplorerView"
            icon="icons/view_structureexplorer.gif"
            id="zephyr.plugin.core.treeview"
            name="Structure Explorer"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="zephyr.plugin.core.internal.video.VideoView"
            icon="icons/film.png"
            id="zephyr.plugin.core.videoview"
            name="Video"
            restorable="true">
      </view>
   </extension>
   <extension
         point="zephyr.viewprovider">
      <client
            class="zephyr.plugin.core.internal.views.ClocksView$Provider"
            icon="icons/view_clocks.png"
            name="Clocks View"
            viewid="zephyr.plugin.core.clocksview">
      </client>
      <client
            class="zephyr.plugin.core.internal.video.VideoView$VideoViewProvider"
            icon="icons/film.png"
            name="Video"
            popup="false"
            viewid="zephyr.plugin.core.videoview">
      </client>
   </extension>
   <extension
         point="org.eclipse.ui.services">
      <sourceProvider
            provider="zephyr.plugin.core.internal.ZephyrVariables">
         <variable
               name="zephyr.plugin.core.variable1"
               priorityLevel="workbench">
         </variable>
      </sourceProvider>
   </extension>
   <extension
         point="zephyr.listener">
      <listener
            class="zephyr.plugin.core.internal.clocks.RegisterClockWhenAdvertizedListener"
            eventid="zephyr.event.advertize"
            name="ClockRegisteredWhenAdvertized">
      </listener>
      <listener
            class="zephyr.plugin.core.internal.synchronization.binding.ClockAddedListener"
            eventid="zephyr.event.clockadded"
            name="ViewRegistryCreatedWhenClockAdded">
      </listener>
      <listener
            class="zephyr.plugin.core.internal.synchronization.binding.ClockRemovedListener"
            eventid="zephyr.event.clockremoved"
            name="ViewRegistryDeletedWhenClockRemoved">
      </listener>
      <listener
            class="zephyr.plugin.core.internal.ParseCodeWhenAdvertizedListener"
            eventid="zephyr.event.advertize"
            name="ParseCodeOnAdvertized">
      </listener>
      <listener
            class="zephyr.plugin.core.internal.synchronization.PopupViewListener"
            eventid="zephyr.event.codeparsed"
            name="PopupViewOnCodeParsed">
      </listener>
   </extension>
</plugin>
