<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="zephyr.runnable">
      <client
            autostart="false"
            class="zephyr.plugin.junittesting.bars.BarRunnable"
            id="zephyr.plugin.junittesting.bars.runnable">
      </client>
   </extension>
   <extension
         point="zephyr.viewprovider">
      <client
            class="zephyr.plugin.junittesting.bars.BarView$Provider"
            name="Bar"
            viewid="zephyr.plugin.junittesting.bars.view">
      </client>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="zephyr.plugin.junittesting.bars.BarView"
            id="zephyr.plugin.junittesting.bars.view"
            name="Bars"
            restorable="true">
      </view>
   </extension>
   <extension
         point="zephyr.listener">
      <listener
            class="zephyr.plugin.junittesting.busevent.TestingEventListener"
            eventid="TestBusEvent">
      </listener>
   </extension>

</plugin>
