<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="zephyr.runnable">
      <client
            autostart="false"
            class="zephyr.plugin.tests.TimeStepsRunnable"
            id="zephyr.plugin.tests.time">
      </client>
      <client
            autostart="false"
            class="zephyr.plugin.tests.plot2d.RandomData2D"
            id="zephyr.plugin.tests.plot2d.randomdata2d">
      </client>
      <client
            autostart="false"
            class="zephyr.plugin.tests.slowdrawing.SlowDrawingRunnable"
            id="zephyr.plugin.tests.slowdrawing">
      </client>
   </extension>
   <extension
         point="zephyr.viewprovider">
      <client
            class="zephyr.plugin.tests.plot2d.PlotRandomData2D$Provider">
      </client>
      <client
            class="zephyr.plugin.tests.slowdrawing.SlowDrawingView$Provider">
      </client>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            class="zephyr.plugin.tests.plot2d.PlotRandomData2D"
            id="zephyr.plugin.tests.plot2d.plotrandomplot2d"
            name="Random2D"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="zephyr.plugin.tests.slowdrawing.SlowDrawingView"
            id="zephyr.plugin.tests.slowdrawing"
            name="Slow drawing"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            class="zephyr.plugin.tests.treeview.StructureExplorer"
            icon="icons/view_structureexplorer.gif"
            id="zephyr.plugin.tests.treeview"
            name="Structure Explorer"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:window?before=zephyr.plugin.core.separator.closeview">
         <command
               commandId="org.eclipse.ui.views.showView"
               icon="icons/view_structureexplorer.gif"
               label="Show Structure Explorer"
               style="push">
            <parameter
                  name="org.eclipse.ui.views.showView.viewId"
                  value="zephyr.plugin.tests.treeview">
            </parameter>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="zephyr.startup">
      <client
            class="zephyr.plugin.tests.treeview.RegisterToAdvertize">
      </client>
   </extension>

</plugin>
