<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="zephyr.application.Application">
         </run>
      </application>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="zephyr.application.application"
            name="Zephyr">
         <property
               name="appName"
               value="Zephyr">
         </property>
         <property
               name="aboutImage"
               value="images/zephyr128.png">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="aboutText"
               value="Zephyr&#x0A;Thomas Degris, RLAI&#x0A;Computing Science&#x0A;University of Alberta">
         </property>
         <property
               name="windowImages"
               value="images/zephyr16.png,images/zephyr32.png,images/zephyr48.png,images/zephyr64.png,images/zephyr128.png">
         </property>
      </product>
   </extension>
</plugin>
