<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            class="zephyr.plugin.critterview.views.ObservationView"
            icon="icons/view_observation.png"
            id="zephyr.plugin.critterview.view.observation"
            name="Observation"
            restorable="true">
      </view>
   </extension>
   <extension
         id="critterview.filehandler"
         point="zephyr.plugin.filehandling.filehandler">
      <client
            class="zephyr.plugin.critterview.FileHandler">
      </client>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="zephyr.plugin.critterview.commands.StartSimulator"
            description="Start the Critterbot Simulator"
            id="zephyr.plugin.critterview.startsimulator"
            name="Start Simulator">
      </command>
      <command
            defaultHandler="zephyr.plugin.critterview.commands.ConnectCritterbot"
            description="Connect to the Critterbot"
            id="zephyr.plugin.critterview.connectcritterbot"
            name="Start Simulator">
      </command>
      <command
            defaultHandler="zephyr.plugin.critterview.commands.ConnectLocalHost"
            description="Connect to Local Host"
            id="zephyr.plugin.critterview.connectlocalhost"
            name="Start Simulator">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:menu.file?after=zephyr.plugin.common.endstd">
         <command
               commandId="zephyr.plugin.critterview.startsimulator"
               label="Start a Simulator"
               mnemonic="S"
               style="push">
         </command>
         <command
               commandId="zephyr.plugin.critterview.connectcritterbot"
               label="Connect to Critterbot"
               mnemonic="C"
               style="push">
         </command>
         <command
               commandId="zephyr.plugin.critterview.connectlocalhost"
               label="Connect to Local Host"
               mnemonic="L"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:zephyr.plugin.critterview.view.observation">
         <command
               commandId="zephyr.plugin.common.killclock"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         id="crittergui"
         point="org.eclipse.core.runtime.products">
      <product
            application="zephyr.application.application"
            name="Crittergui">
         <property
               name="windowImages"
               value="images/critterbot16.png,images/critterbot32.png,images/critterbot48.png,images/critterbot64.png,images/critterbot128.png">
         </property>
         <property
               name="aboutText"
               value="Critterbot GUI&#x0A;Thomas Degris, RLAI&#x0A;Computing Science&#x0A;University of Alberta">
         </property>
         <property
               name="aboutImage"
               value="images/critterbot128.png">
         </property>
         <property
               name="appName"
               value="Crittergui">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
   <extension
         point="zephyr.plugin.common.startup">
      <client
            class="zephyr.plugin.critterview.StartupJob">
      </client>
   </extension>
   <extension
         point="zephyr.plugin.common.synchronization.zephyrmain">
      <client
            autostart="false"
            class="zephyr.plugin.critterview.runnable.RobotRunnable"
            id="critterbot">
      </client>
   </extension>
   <extension
         point="zephyr.viewprovider">
      <client
            class="zephyr.plugin.critterview.views.ObservationViewProvider">
      </client>
   </extension>
</plugin>
