<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="zephyr.filehandler">
      <client
            class="zephyr.plugin.jnlua.LuaHandler">
      </client>
   </extension>
   <extension
         point="zephyr.startup">
      <client
            class="zephyr.plugin.jnlua.RegisterParserJob">
      </client>
   </extension>

</plugin>
