<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="zephyr.filehandler" name="File handler" schema="schema/zephyr.filehandler.exsd"/>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            class="zephyr.plugin.filehandling.internal.view.FileView"
            id="zephyr.plugin.filehandling.internal.view.fileview"
            name="Data"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="zephyr.plugin.filehandling.internal.ui.OpenFile"
            description="Open a file"
            id="zephyr.plugin.filehandling.openfile"
            name="Open">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:menu.file?before=zephyr.plugin.core.endstd">
            <command
                  commandId="zephyr.plugin.filehandling.openfile"
                  id="open"
                  label="Open File..."
                  mnemonic="O"
                  style="push">
            </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="zephyr.plugin.filehandling.openfile"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="zephyr.plugin.core.scheme"
            sequence="M1+O">
      </key>
   </extension>
   <extension
         point="zephyr.startup">
      <client
            class="zephyr.plugin.filehandling.internal.StartupJob">
      </client>
   </extension>
   <extension
         point="zephyr.viewprovider">
      <client
            class="zephyr.plugin.filehandling.internal.view.FileView$Provider">
      </client>
   </extension>
</plugin>
