<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="zephyr.runnable">
      <client
            autostart="true"
            class="zephyr.example.simpleclient.SimpleClient"
            id="zephyr.example.simpleclient">
      </client>
   </extension>

</plugin>
