<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="zephyr.plugin.common.synchronization.zephyrmain" name="Zephyr Main" schema="schema/zephyr.plugin.common.synchronization.zephyrmain.exsd"/>
   <extension-point id="zephyr.plugin.common.views.timedview" name="Timed Listener" schema="schema/zephyr.plugin.common.views.timedview.exsd"/>
   <extension-point id="zephyr.plugin.common.startup" name="Zephyr Startup" schema="schema/zephyr.plugin.common.startup.exsd"/>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="zephyr.plugin.common.commands.Synchronous"
            id="zephyr.plugin.common.commands.synchronous"
            name="Synchronous">
         <state id="org.eclipse.ui.commands.toggleState"
               class="org.eclipse.ui.handlers.RegistryToggleState:true">
         </state>
      </command>
      <command
            defaultHandler="zephyr.plugin.common.commands.StartSuspended"
            id="zephyr.plugin.common.commands.startsuspended"
            name="StartSuspended">
         <state id="org.eclipse.ui.commands.toggleState"
               class="org.eclipse.ui.handlers.RegistryToggleState:false">
         </state>
      </command>
      <command
            defaultHandler="zephyr.plugin.common.commands.SuspendResumeAll"
            id="zephyr.plugin.common.commands.suspendresume"
            name="SuspendResume">
      </command>
      <command
            defaultHandler="zephyr.plugin.common.commands.ResumeAll"
            id="zephyr.plugin.common.commands.resume"
            name="Resume">
      </command>
      <command
            defaultHandler="zephyr.plugin.common.commands.SuspendAll"
            id="zephyr.plugin.common.commands.suspend"
            name="Suspend">
      </command>
      <command
            defaultHandler="zephyr.plugin.common.commands.StepAll"
            id="zephyr.plugin.common.commands.step"
            name="Step">
      </command>
      <command
            defaultHandler="zephyr.plugin.common.commands.KillClock"
            id="zephyr.plugin.common.killclock"
            name="Stop">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?before=help">
         <menu
               id="menu.file"
               label="File"
               mnemonic="F">
            <command
                  commandId="org.eclipse.ui.file.exit"
                  id="quit"
                  label="Quit"
                  mnemonic="Q"
                  style="push">
               <visibleWhen>
                  <not>
                     <systemTest
                           property="os.name"
                           value="Mac OS X">
                     </systemTest>
                  </not>
               </visibleWhen>
            </command>
         </menu>
         <menu
               label="&amp;Run">
            <command
                  commandId="zephyr.plugin.common.commands.startsuspended"
                  label="Start Suspended"
                  mnemonic="d"
                  style="toggle">
            </command>
            <separator
                  name="zephyr.plugin.common.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="zephyr.plugin.common.commands.suspend"
                  icon="icons/action_suspend.gif"
                  label="Suspend"
                  mnemonic="S">
            </command>
            <command
                  commandId="zephyr.plugin.common.commands.step"
                  icon="icons/action_step.gif"
                  label="Step"
                  mnemonic="p">
            </command>
            <command
                  commandId="zephyr.plugin.common.commands.resume"
                  icon="icons/action_resume.gif"
                  label="Resume"
                  mnemonic="R">
            </command>
            <separator
                  name="zephyr.plugin.common.separator2"
                  visible="true">
            </separator>
            <command
                  commandId="zephyr.plugin.common.commands.synchronous"
                  label="Synchronous"
                  mnemonic="o"
                  style="toggle">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="zephyr.plugin.common.control">
            <command
                  commandId="zephyr.plugin.common.commands.suspend"
                  icon="icons/action_suspend.gif"
                  label="Suspend"
                  style="push">
            </command>
            <command
                  commandId="zephyr.plugin.common.commands.step"
                  icon="icons/action_step.gif"
                  label="Step"
                  style="push">
            </command>
            <command
                  commandId="zephyr.plugin.common.commands.resume"
                  icon="icons/action_resume.gif"
                  label="Resume"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="zephyr.plugin.common.Perspective"
            id="zephyr.plugin.common.perspective.initial"
            name="Zephyr Perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.activities">
      <activity
            id="zephyr.plugin.common.activity"
            name="Zephyr Activity">
      </activity>
      <activityPatternBinding
            activityId="zephyr.plugin.common.activity"
            pattern="zephyr.plugin.*">
      </activityPatternBinding>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <scheme
            id="zephyr.plugin.common.scheme"
            name="Zephyr Binding Scheme">
      </scheme>
      <key
            commandId="zephyr.plugin.common.commands.suspendresume"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="zephyr.plugin.common.scheme"
            sequence="SPACE">
      </key>
      <key
            commandId="zephyr.plugin.common.commands.suspend"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="zephyr.plugin.common.scheme"
            sequence="F11">
      </key>
      <key
            commandId="zephyr.plugin.common.commands.step"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="zephyr.plugin.common.scheme"
            sequence="F6">
      </key>
      <key
            commandId="zephyr.plugin.common.commands.resume"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="zephyr.plugin.common.scheme"
            sequence="F8">
      </key>
   </extension>
   <extension
         point="zephyr.plugin.common.startup">
      <client
            class="zephyr.plugin.common.internal.SavedSettings">
      </client>
      <client
            class="zephyr.plugin.common.internal.StartZephyrMain">
      </client>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="zephyr.plugin.common.killclock"
            icon="icons/command_stop.gif">
      </image>
   </extension>
</plugin>
