<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/zephyr.example.jaridbd/src/zephyr/example/jaridbd/Experiment.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="zephyr.example.jaridbd.Experiment"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="zephyr.example.jaridbd"/>
</launchConfiguration>
